:root {
  --main-background-color: #ccdbdc;
  --main-background-color-2: #011627d5;
  --main-background-color-3: #b31212cc;
  --main-background-color-4: #1b3022ec;
}

@font-face {
  font-family: "Newsreader";
  src: url(./assets/all-news-1-logo-pack//fonts/Newsreader/static/Newsreader_14pt-Medium.ttf);
}

@font-face {
  font-family: "Newsreader light";
  src: url(./assets/all-news-1-logo-pack/fonts/Newsreader/static/Newsreader_14pt-Light.ttf);
}

@font-face {
  font-family: "Rubik Bold";
  src: url(./assets/all-news-1-logo-pack/fonts/Rubik/static/Rubik-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  background-image: url("./assets/world.jpg");
  background-size: cover;
}

#navegadorid {
  width: 1000px;
  display: flex;
  justify-content: center;

  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 192, 195, 0.315) 0%,
    rgb(253, 187, 45) 100%
  );
  border-radius: 10px;
}

.hrelativo {
  position: relative;
  border-radius: 10px;
  display: block;
  flex-direction: row;
  justify-content: center;
  font-size: large;
  width: 1000px;
}

.hrelativodiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hnavegador {
  margin: 0px 32.5px 0px 32.5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.hnavegadorp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Cinzel Black";
}

.hnavegadoropciones {
  display: flex;
  margin-left: 54px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: "Newsreader";
  font-size: x-large;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
  color: rgb(229, 255, 0);
}

.hnavegadoropciones a {
  text-decoration: none;
  color: inherit;
}

.hnavegadoropciones1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.hnavegadoropciones1 a {
  text-decoration: none;
  color: inherit;
}

.brandnews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Newsreader light";

  color: #fff;
  border-radius: 10px;
  gap: 5px;
  background-color: #004e86;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #004e86 13px
    ),
    repeating-linear-gradient(#007c5355, #007c53);
}

.brandnews p {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  font-family: "Newsreader light";
}

.newsbanner {
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid rgba(83, 128, 0, 0.664);
  border-radius: 5px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.9);
  letter-spacing: 0.1rem;
}

.newsbanner img {
  width: 400px;
  height: auto;
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 5px;
}

.content {
  border-radius: 50px;
  font-family: "Rubik Bold";
  background: rgb(63, 94, 251);
  background: linear-gradient(
    16deg,
    rgba(63, 94, 251, 0.6138830532212884) 0%,
    rgba(1, 22, 39, 1) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #fff;

  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
}

.chartp {
  font-family: "Newsreader";
  font-size: x-large;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    16deg,
    rgba(63, 94, 251, 0.6138830532212884) 0%,
    rgba(1, 22, 39, 1) 100%
  );
  color: #fff;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inflachart {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    16deg,
    rgb(26, 40, 107) 0%,
    rgba(1, 22, 39, 1) 100%
  );

  border-radius: 5px;
  width: 1000px;
}

#forexMXN {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(8, 44, 44) 0%, rgb(133, 91, 0) 100%);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;

  width: 500px;

  font-family: "Rubik Bold";
}

#forexcontainer {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
}
